
.embedCard {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-decoration: none;

  display: flex;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-card-background-color);
}

.embedCard:hover {
  --ifm-link-color: #0969da;
  border: 1px solid var(--ifm-color-emphasis-400);
}

.embedCard__left {
  padding-right: 1rem;
  flex: auto;
}

.embedCard__title {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--ifm-heading-color);
}

.embedCard__description {
  font-size: 0.95rem;
  color: var(--ifm-color-emphasis-700);
}

[data-theme='dark'] .embedCard__description {
  color: var(--ifm-color-emphasis-500);
}

.embedCard__href {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--ifm-color-emphasis-600);
}

[data-theme='dark'] .embedCard__href {
  color: var(--ifm-color-emphasis-400);
}

.embedCard__image {
  position: relative;
  flex: 1 1 180px;
  display: block;
  overflow: hidden;
  border-radius: var(--ifm-global-radius);
}

.embedCard__imageWrapper {
  position: absolute;
  inset: 0.5rem;
}

.embedCard__imageContent {
  height: 100%;
  width: 100%;
}

.embedCard__image img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 996px) {
  .embedCard__image{
    display: none;
  }
}