/* Importing Inter font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Archivo:wght@300;400;500;700&display=swap');

/* Light theme overrides */
:root {
  --ifm-color-primary: #101840;
  --ifm-color-primary-dark: #0e163a;
  --ifm-color-primary-darker: #0e1436;
  --ifm-color-primary-darkest: #0b112d;
  --ifm-color-primary-light: #121a46;
  --ifm-color-primary-lighter: #121c4a;
  --ifm-color-primary-lightest: #151f53;
  --ifm-font-color-base: #212744;
  --ifm-heading-color: #101840;
  /* Fonts */
  --ifm-font-family-base: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* General Components */
  --ifm-link-color: #2D5FF5;
  --ifm-toc-link-color: #696F8C;
  --ifm-toc-border-color: #E6E8EF;
  --ifm-navbar-background-color: #FAFBFF;
  /* Sidebar */
  --doc-sidebar-width: 320px !important;
  --ifm-sidebar-background-color: #FAFBFF;
  --ifm-sidebar-border-color: var(--ifm-toc-border-color);
  /* Sidebar Link */
  --ifm-menu-color: var(--ifm-toc-link-color);
  --ifm-menu-link-padding-vertical: 0.625rem;
  --ifm-menu-link-padding-horizontal: 0.5rem;
  /* Code Block */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(33, 39, 68, 0.05);
  /* DocSearch */
  --docsearch-border-color: var(--ifm-toc-border-color);
  --docsearch-placeholder-color: #696F8C;
  /* Markdown */
  --ifm-blockquote-border-color: var(--ifm-link-color);
  --ifm-blockquote-border-width: 2px;
}

/* Dark theme overrides */
html[data-theme='dark'] {
  --ifm-color-primary: #E4BF76;
  --ifm-color-primary-dark: #e0ad6c;
  --ifm-color-primary-darker: #dca55d;
  --ifm-color-primary-darkest: #d38b2f;
  --ifm-color-primary-light: #eccfa8;
  --ifm-color-primary-lighter: #f0d7b7;
  --ifm-color-primary-lightest: #f9f1e5;
  --ifm-background-color: #1e1e1e;
  --ifm-font-color-base: #e8e8e8;
  --ifm-heading-color: #ffffff;
  /* General Components */
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-toc-link-color: #bebebe;
  --ifm-toc-border-color: var(--ifm-color-emphasis-200);
  /* Sidebar */
  --ifm-menu-color: var(--ifm-toc-link-color);
  --ifm-sidebar-background-color: #272727;
  --ifm-sidebar-border-color: var(--ifm-toc-border-color);
  /* Code Block */
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.05);
  /* DocSearch */
  --docsearch-border-color: var(--ifm-toc-border-color);
  --docsearch-placeholder-color: #696F8C;
}

/* Navbar (Header) */
.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--ifm-toc-border-color);
  background-color: var(--ifm-sidebar-background-color);
}
.navbar-sidebar {
  background-color: var(--ifm-sidebar-background-color);
}
.navbar__logo {
  height: 1.75rem;
}

/* Menu (Sidebar) */
nav.menu {
  padding-left: 2rem;
  padding-top: 1.5rem;
  background-color: var(--ifm-sidebar-background-color);
  border-right: 1px solid var(--ifm-sidebar-border-color);
}
.menu__link--active {
  color: var(--ifm-menu-color);
}
.menu__link--active[aria-current="page"] {
  color: var(--ifm-link-color);
  font-weight: 700;
}

/* Docs Table of Contents */
.table-of-contents__link:hover {
  color: var(--ifm-link-color);
}
.table-of-contents__link--active {
  color: var(--ifm-link-color);
  font-weight: 700;
}

/* DocSearch Button */
.navbar-search-button .DocSearch-Button {
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--docsearch-border-color);
}
.navbar-search-button .DocSearch-Button .DocSearch-Search-Icon {
  width: 1.125rem;
  height: 1.125rem;
  stroke-width: 2.4;
  font-weight: 700;
  color: var(--docsearch-placeholder-color);
}
.navbar-search-button .DocSearch-Button .DocSearch-Button-Placeholder {
  padding: 0 12px 0 8px;
}
.navbar-search-button .DocSearch-Button .DocSearch-Button-Keys {
  margin-left: 1rem;
}

/* Pagination */
.pagination-nav__label {
  color: var(--ifm-font-color-base);
}
.pagination-nav__sublabel {
  color: var(--ifm-toc-link-color);
}
.pagination-nav__link--prev .pagination-nav__label::before {
  content: none;
}
.pagination-nav__link--next .pagination-nav__label::after {
  content: none;
}

/* Doc Content */
.markdown > h1,
.markdown > h2,
.markdown > h3 {
  font-family: 'Archivo', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.markdown [class*='codeBlockContainer'] {
  border: 1px solid var(--ifm-toc-border-color);
  box-shadow: none;
}

/* Mobile only styles */
@media (max-width: 576px) {
  .markdown h1:first-child {
    margin-top: 1.25rem;
  }
}

/* Desktop only styles */
@media screen and (min-width: 997px) {
  /* Doc content */
  main > .container {
    padding: 3rem !important;
  }
  /* Doc container container */
  div[class^="docItemContainer"] {
    /*margin: 0 auto;*/
    max-width: 700px;
  }
  /* Autogenerated index page */
  [class^="generatedIndexPage"] {
    /*margin: 0 auto;*/
    width: 700px !important;
  }
  /* Markdown */
  .markdown {
    --ifm-h1-vertical-rhythm-top: 3;
    --ifm-h2-vertical-rhythm-top: 2.8;
    --ifm-h3-vertical-rhythm-top: 1.6;
    --ifm-heading-vertical-rhythm-top: 1.25;
    --ifm-h1-vertical-rhythm-bottom: 1.6;
    --ifm-h2-vertical-rhythm-bottom: 1.6;
    --ifm-h3-vertical-rhythm-bottom: 1.2;
    --ifm-heading-vertical-rhythm-bottom: 1;
    --ifm-list-item-margin: 0.5rem;
  }
  .markdown > h2 {
    font-size: 1.75rem;
    margin-bottom: calc(var(--ifm-h2-vertical-rhythm-bottom) * var(--ifm-leading));
  }
  .markdown > h3 {
    font-size: 1.5rem;
    margin-bottom: calc(var(--ifm-h3-vertical-rhythm-bottom) * var(--ifm-leading));
  }
  .markdown > h4 {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 600;
  }
}
