.cardContainer {
  --ifm-link-hover-decoration: none;
  --ifm-card-border-radius: var(--ifm-global-radius);

  flex: auto;
  transition: none;
  box-shadow: none;
  padding: 1.5rem;
  transition-property: border, box-shadow;
  border: 1px solid var(--ifm-toc-border-color);
  background-color: var(--ifm-sidebar-background-color);
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 0.8rem;
  color: var(--ifm-font-color-base);
}
